:host {
  display: block;
  width: 100%;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  width: 100%;
  min-height: 350px;
  padding: 10rem 1rem 7rem;
  box-sizing: border-box;
  background-color: transparent;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-container {
    min-height: 250px;
  }
}
